@media (max-width: 600px) {
    .nav-links {
        padding: 0 6vw;
        height: 80px;
    }
    .nav-links h2 {
        font-size: 6vw;
    }
    .right-nav-links h4 {
        font-size: 4vw;
        display: none;
    }
    .right-nav-links i {
        display: block;
        font-size: 5vw;
        font-weight: 600;
    }
    .right-nav-links button {
        display: none;
    }
    .content { 
        height: calc(100% - 80px);
        flex-direction: column;
    }
    .left-part{
        width: 100%;
        height: 45%;    
        padding: 4vw 5vw;
    }
    .right-part {
        width: 100%;
        height: 55%;
    }
    .left-part h1 {
        font-size: 10vw;
        line-height: 11vw;
    }
    .left-part p {
        font-size: 3vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }
    .content button {
        font-size: 3.5vw;
        border-radius: 3px;
        font-weight: 600;
        padding: 3vw 6vw;
    }
    .container {
        width: 100%;
        height: 90%;
        position: relative;
    }
    .container h4 {
        margin-top: 40px !important;
        font-size: 5vw !important;
        font-weight: 400 !important;
    }
    .row {
        margin-top: 3vw !important;
    }
    .col {
        margin-left: 7vw;
        margin-bottom: 5vw;
    }
    .card-img-top {
        margin-top: 4vw !important;
        margin-left: 4vw !important;
        margin-right: 1vw !important;
        width: 90% !important;
        border-radius: 5px !important;
    }
    .btn {
        padding: 1vw 2.5vw !important;
        background-color: #395B67 !important;
        border: none !important;
    }
    .course {
        flex-wrap: wrap;
    }
}